body {
    direction: rtl;
    background-color: #f2f2f2;
    color: #333;
}

.header-base {
    justify-content: space-between;
}

#help i {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 5px;
}

.deco1 {
    text-decoration: none;
}

.clor {
    color: #707070;
    font-size: 1.25rem;
}

.fa-shopping-cart {
    color: #fafafa;
}

.deco1:hover {
    color: #6c757d;
}

.deco {
    background-color: #227CF2;
    border-style: solid;
    border-radius: 25px;
    border-width: thin;
    border-color: #fafafa;
    width: 75%;
    height: 55%;
    color: #fafafa;
    transition: 0.3s;
    font-size: 1.25rem;
}

.deco:hover {
    color: #227CF2;
    background-color: #fafafa;
    border-color: #227CF2;
}

.deco:hover i {
    color: #227CF2;
}

.basket-icon {
    position: relative;
    border-right: 2px solid #fafafa;
    padding-right: 10px;
}

.span1 {
    position: absolute;
    right: 2px;
    top: -3px;
    text-align: center;
    font-size: 13px;
    background-color: #fafafa;
    color: #227CF2;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.deco:hover span {
    background-color: #227CF2;
    color: #fafafa;

}

.deco:hover .basket-icon {
    border-right-color: #227CF2;
}

#searchBorder {
    border-radius: 25%;
    color: #fafafa;
}

.btnn {

    background-color: red;
    border: red;
    width: 42px;
    height: 42px;
}

.btnn i {
    color: #d8d8d8;
}

#searchBox {
    border-style: solid;
    border-radius: 25px;
    width: 100%;
    background-color: #eceff1;
    border-color: #d5dadd;
    padding-right: 10px;
    border-width: 1px;
    line-height: 2;
}

#searchBox:focus {
    outline: none;
}
.search-box-position{
    justify-content: flex-end;
}
.searchbtn {
    left: 0;
    position: absolute;
}

.searchDiv {
    display: flex;
    width: 75%;
}

.menu-item {
    border: 0;
    color: #1a1e21;
    background-color: #e6e6e6;
    position: static;
    cursor: pointer;
}

.menu-item:hover {
    border-bottom: 3px red solid;
    color: #1a1e21;
}

#vegetable {
    display: none;
}

#fruit:hover + #vegetable {
    display: inline;
}

#menu {
    background-color: #e6e6e6;
    border-top: solid 1px #ababab;
    width: 100%;
}

.shdw {
    box-shadow: 0 2px 16px 0 #c7c7c7;
}

.sub-menu-box {
    margin-top: 10px;
    right: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 5px;
    z-index: 10;
    cursor: default;
}

#menu a {
    text-decoration: none;
    color: #1a1e21;
}

.extra-menu .mega-menu-3 a:hover {
    border-bottom: 2px red solid;
}

.extra-menu {
    border: 1px #ccc solid;
    border-radius: 15px;
    padding: 5px;
    font-size: 1rem;
    margin: 5px 0;
}

.extra-menu .mega-menu-3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.25rem;
}

.extra-menu .mega-menu-3 a {
    border: 0;
    padding: 0.25rem 0.5rem;
}

.sub-menu-item {
    border-bottom: 1px solid #aaa;
    padding-bottom: 1rem;
    display: block;
    padding-right: 85px;
}

.sub-menu-item:hover {
    border-bottom: 1px solid red;
}

.row {
    --bs-gutter-x: 0.5rem;
}

#contain {
    direction: ltr;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-prev {
    width: 4%;
    opacity: 0.5;
    background: #fff !important;
    border-radius: 25px 0 0 25px;
    z-index: 2;
}

.owl-carousel .owl-nav {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
}

.owl-carousel .owl-prev:hover {
    opacity: 1;
}

.owl-carousel .owl-next {
    width: 4%;
    opacity: 0.5;
    background: #fff !important;
    border-radius: 0 25px 25px 0;
    z-index: 2;
}

.owl-carousel .owl-next:hover {
    opacity: 1;
}

.owl-carousel .owl-stage-outer {
    border-radius: 25px;
    box-shadow: 0 2px 16px 0 rgb(29 29 29  / 40%);
}

.owl-carousel .owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid white !important;
    border-radius: 50%;
    margin-right: 15px;
}

.owl-carousel .owl-dot.active {
    background-color: red !important;
    border-color: red !important;
}

.owl-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.service-items-border {
    border-left: 1px solid rgba(51, 51, 51, .1);
}

.service-items {
    text-align: center;
}

.service-title {
    font-size: 1rem;
}

.service .service-title h2 {
    font-size: 1rem;
}

.service .service-text p {
    color: #666;
}

.row-serv {
    border-radius: 25px;
    box-shadow: 0 2px 16px 0 rgb(29 29 29 / 20%);
}

.special-sale-header {
    justify-content: space-between;
!important;
    /*background-color: white;*/
    /*border-radius: 25px;*/
    /*padding: 15px;*/
}

.all-product-title {
    border: 1px solid #227CF2;
    border-radius: 25px;
    color: #fafafa;
    background-color: #227CF2;
    padding:10px;
    line-height: 3;
}

.special-sale-title {
    border-bottom: 2px solid red;
}

.produce-banner {
    width: 100%;
    position: relative;
}

.owl-carousel-2 .owl-item {
    display: inline-block;
    padding: 10px;
}

.owl-carousel-2 .owl-stage-outer {
    overflow: hidden;
}

.special-sale {
    border-radius: 25px;
    box-shadow: 0 2px 16px 0 rgb(29 29 29 / 20%);
}

.all-product-title:hover {
    color: #fafafa;
}

.owl-carousel-2 .owl-nav {
    display: flex;
    justify-content: space-between;
}

.owl-carousel-2 .owl-next {
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 3rem;
    border-radius: 25px 0 0 25px;
    border: 0;
    background: transparent;
    color: inherit;
    opacity: 1;
    z-index: 3;
    box-shadow: 0 2px 16px 0 rgb(29 29 29 / 10%);
    padding: 15px;
}

.owl-carousel-2 .owl-next:hover {
    opacity: 0.4;
}

.owl-carousel-2 .owl-prev {
    position: absolute;
    top: 30%;
    font-size: 3rem;
    border-radius: 0 25px 25px 0;
    border: 0;
    background: transparent;
    color: inherit;
    opacity: 1;
    z-index: 3;
    box-shadow: 0 2px 16px 0 rgb(29 29 29 / 10%);
    padding: 15px;
}

.owl-carousel-2 .owl-prev:hover {
    opacity: 0.4;
}

button .disabled {
    opacity: 0.4;
}

.offer-percent {
    right: 0;
    position: absolute;
    background-color: #fe0002;
    width: 18%;
    border-radius: 1.6rem;
}

.offer-percent-text {
    color: #fff;
    text-align: center;
    padding-left: 5px;
}

.forosh-vije {
    background-color: #f9dce4;
    color: #ed6b6b;
    width: 25%;
    left: 5%;
    border-radius: 1.6rem;
    position: absolute;
    text-align: center;
    padding: 4px 4px;
    font-size: .9rem;
}

.produces {
    position: relative;
    border: 1px solid rgba(136, 136, 136, .1);
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.produces:hover {
    box-shadow: 0 2px 16px 0 rgba(29, 29, 29, .1);
}

.produces-info {
    direction: rtl;
    padding-right: 2px;
}

.price {
    color: #32cd32;
}

.current-price {
    color: #ff263c;
}

.item-img {
    height: 150px;
    text-align: center;
    position: relative;
}

.item-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.coin-count img {
    width: 30%;
}

.add-to-shpcrt-text {
    float: right;
    color: #FAFAFA;
    font-size: .9rem;
}

.add-to-shpcrt-img {
    color: #FAFAFA;
}

.add-to-shpcrt {
    background-color: #227CF2;
    line-height: 2;
    border: 0;
    border-radius: 0 0 25px 0;
    transition: 0.3s;
}

.add-to-shpcrt-counter {
    color: #FAFAFA;
}

.add-to-shpcrt .basket-icon {
    border: 0;
    float: left;
}

.add-to-shpcrt .span1 {
    top: 0;
    font-size: 10px;
}

.produces .add-to-shpcrt:hover i {
    color: #227CF2;
}

.produces .add-to-shpcrt:hover span {
    color: #227CF2;
}

.produces .add-to-shpcrt:hover .add-btn {
    background-color: #FAFAFA;
}

.produces .add-to-shpcrt:hover {
    background-color: #FAFAFA;
    border: 1px solid #227CF2;
}

.produces .add-to-shpcrt:hover button {
    background-color: #FAFAFA;
    border: 0;
}

.inform {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.footer-back-img {
    background: url("footer_back.png");
    background-color: #e0e0e0;
    background-repeat: repeat;
    padding: 0 0 30px 0;
}

.container-pv {
    direction: rtl;
}

.header-forobile {
    font-size: 1rem;
}

.text-forobile {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 2;
}

.footer-back-img img {
    margin-top: -2px;
}

.costumer-services {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.costumer-services li {
    font-size: 0.8rem;
    line-height: 2;
}

.costumer-services-item {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.costumer-services-item:hover {
    color: #333;
    margin-right: 5px;
}

.contact {
    font-size: 0.9rem;
    line-height: 2;
}

.contact i {
    font-size: 25px;
    vertical-align: sub;
    width: 30px;
}

.instagram {
    width: 256px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #405de6;
    background-image: linear-gradient(45deg, #405de6 0, #5851db 19%, #833ab4 39%, #c13584 60%, #e1306c 80%, #f56040 100%);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.telegram {
    width: 256px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #08c;
    color: #fff;
}

.tele {
    text-decoration: none;
    color: #007bff;
}

.tele:hover {
    color: #007bff;
}

.insta {
    text-decoration: none;
    color: #007bff;
}

.insta:hover {
    color: #007bff;
}

.certificate {
    display: flex;
    justify-content: center;
}

footer .row {
    border-bottom: 1px solid rgba(110, 130, 138, 0.1);
}

.partition {
    border-left: 1px solid rgba(110, 130, 138, 0.1);
}

.download {
    text-decoration: none;
    color: #007bff;
}
.service-items-border2{
    border-bottom: 1px solid rgba(51, 51, 51, .1);
}
.container-fluid-2{
    border-top: 1px solid rgba(51, 51, 51, .1);
}
.logo-mobile{
    width: 80%;
    display: flex;
    float: left;
}
.header-mobile{
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(51, 51, 51, .1);
}
.menu-mobile{
    align-items: center;
}
.menu-mobile-item {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding-right: 7px;
}
.menu-mobile-item span {
    color: #888;
}
.menu-mobile-item span i{
    color: #888;
}
.sabad-mobile i {
    color: #888;
    font-size: 1.5rem;
}
.user-mobile i {
    color: #888;
    line-height: 3;
    font-size: 1.5rem;
}
.search-box-mobile{
    position: relative;
    padding-right: 15px;
    top: 10px;
}
.search-input-mobile{
    border: 1px solid #d5dadd ;
    border-radius: 25px;
    line-height: 2.5;
    padding-right: 50px;
}
.search-input-mobile:focus{
    outline: none;
    border-color: rgba(98,102,105,.6);
}
.search-box-mobile ::placeholder{
    color: rgba(73, 80, 87, 0.59);
}
.search-btn-mobile{
    position: absolute;
    display: flex;
    top: 10%;
    font-size: 1.25rem;
    padding-right: 10px;
    border-left: 1px solid #d5dadd
}
.search-btn-mobile button{
    border: 0;
    background: inherit;
}
.search-btn-mobile button i{
    color: #d5dadd;
}
.span-mobile{
    position: absolute;
    right: 0;
    top: 20px;
    text-align: center;
    font-size: 13px;
    background-color:#227CF2 ;
    color: #fafafa;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.user-mobile{
    position: relative;
}
.sub-menu-mobile {
    padding-top: 10px;
}
#menu-mobile-show{
    background-color: #fafafa;
    right: -300px;
    transition: 1s;
    top: 0;
    position: fixed;
    height: 100%;
    z-index: 6;
    width: 300px;
    overflow: scroll;
}
.background-shadow{
    display: none;
    height: 101vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    position: fixed;
}
.owl-carousel .owl-item img{
    height: 200px;
}
.menu-mobile-logo img{
    width: 70%;
    padding-bottom: 5px;
    border-bottom: 1px solid #d5dadd;
}
.menu-mobile-logo{
    display: flex;
    justify-content: center;
}
.menu-mobile-icon{
    display: flex;
    align-items: center;
}
.sub-menu-mobile-item{
    padding: 20px 5px 5px 5px;
}
.sub-menu-mobile-item a{
    text-decoration: none;
    color: #333;
}
.close-menu {
    text-align: left;
    padding-left: 15px;
}
.close-menu i{
    font-size: 1.5rem;
}
.mahsolat-mobile{
    display: none;
    background-color: rgba(73 ,80, 87 ,0.03);
}
.mahsolat-mobile ul{
    list-style-type: none;
}
#mega-menu-mobile-items ul{
    list-style-type: none;
    padding-right: 0;
    padding-left: 0;
}
#mega-menu-mobile-items i{
    float: left;
}
.items-mobile{
    padding-top: 10px;
    padding-bottom: 10px;
}
.mahsolat-mobile a{
    text-decoration: none;
    color: #333;

}
.modal-content{
    direction: rtl;
}
.modal-header .btn-close{
    margin: 0;
}
.modal-title{
    color: #227CF2;
}
.modal-body-breaker{
    border-top:1px dotted #ccc ;
}
.modal-body-span{
    color: #666;
}
.product-status{
    color: #227CF2
}
.modal-right-side{
    border-right: 1px solid #ccc;
    padding-right: 1rem;
}
